body {background-color: #909090;}
h1   {color:  white; font-family: arial; font-size: 100;}
h2 {color: black; font-family: arial; font-size: 24}
h3 {color: white; font-size: 18; font-family: palatino}
p    {color: black; font-family: palatino; font-size: 18}
h4 {color: black; font-family: georgia;}
a {color: blue;}